################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MonkeyFinder/MonkeyFinder/obj
/MonkeyFinder/MonkeyFinder/.vs/MonkeyFinder.App/FileContentIndex
